<h1><p><font size="12" color="red">ABOUT ME AND THE APPLICATION</font></p></h1>
<p><font size="4" color="green">I am Anthony Mendicino from the northwest side of Chicago and currently a Junior studying Information Technology at DePaul University. 
I love watching and playing baseball, football, basketball, and hockey. 
My friends and I play 16 inch softball around our neighborhood and have been involved in competitive leagues since 2014.</font></p>