<h1><p><font size="12" color="red">ABOUT US</font></p></h1>
<p><font size="4" color="green">I am Anthony Mendicino from the northwest side of Chicago and currently a Junior studying Information Technology at DePaul University. 
I love watching and playing baseball, football, basketball, and hockey. Mendo’s Bookstore is located in Chicago, Illinois. We sell technology books for upcoming students who want to learn how to code.
They cover different topics and languages including Ruby on Rails and Mobile Apps.</p>
<p><font size="4" color="green">To purchase books, go to the store page and select a book by clicking on the add to cart button and you will see your shopping cart. When ready, you can checkout by filling out your personal information from the carts page. </p>