<div class="w3-container w3-center"><h1><p><font size="12" color="red"><br>ABOUT US</font></p></h1>
<p><font size="4" color="green">I am Anthony Mendicino from the northwest side of Chicago and currently a Junior studying Information Technology at DePaul University. 
I love watching and playing baseball, football, basketball, and hockey. I also have always loved reading technology books as a hobby and wanted others to join me for their passion too. 
Mendo’s Bookstore established on November 21, 2017 and is located in Chicago, Illinois. We sell technology books for upcoming students who want to learn how to code.
They cover different topics and languages including Ruby on Rails and Mobile Apps.</p><br></div>




