<h1><p><font size="12" color="red">How Do You Use This Application?</font></p></h1>
<p><font size="4" color="green">Products is an excellent website for new technology students. 
When you're on my Products page, you can select an item and get a brief summary of each book.
On my Home Page you can go to each book's website and look at customor reviews and watch videos.
I will soon be able to do a checkout so customers can buy books from my wesbite. 
Also, I have an About page for viewers that want to know me. 
I hope everybody enjoys my website!</font></p>