<h1><p><font size="12" color="red">Contact Us</font></p></h1>
<p><font size="4" color="green">Mendo's Bookstore
<br>243 S Wabash Ave
<br>Chicago, IL 60604
<br>Phone: (312) 362-8381
<br>Fax: 312-972-9887
<br>Email: mendobookstore@gmail.com<br>

<br>Store Hours
<br>Mon-Sat 9am-9pm
<br>Sundays 11am-6pm</font></p>