<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
    </head>
    
    <body> 
        <h1><p><font size="12" color="red">WELCOME TO MENDO'S STORE!</font></p></h1><br>
        </br>
   
       <img src="/bookstore.jpg" alt="No image" />
    
    </body>                  
</html>