<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
    </head>
    
    <body> 
     <div class="w3-container w3-center">
        <br><h1><p><font size="12" color="red">WELCOME TO MENDO'S BOOKSTORE!</font></p></h1><br>
        </br>
        <p><font size="4" color="green">WE ARE OFFICIALLY OPEN AND READY TO SERVE OUR CUSTOMERS THE BEST TECHNOLOGY BOOKS IN THE WORLD</p><br>
        
        <p><font size="4" color="green">WHEN NEW CUSTOMERS BUY THEIR FIRST ORDER, NO SHIPPING FEE WILL BE CHARGED!</p><br>
        
        <p><font size="4" color="green">STOP AT THE CAFE AND TRY OUR FRESH COFFEE AND DONUTS!</p><br>
        
        <p><font size="4" color="green">WE HOPE TO SEE YOU AGAIN! ENJOY!</p>
   
        </div>
    </body>                  
</html>