<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
    </head>
    
    <body> 
        <h1><p><font size="12" color="red">WELCOME TO MY HOME PAGE!</font></p></h1><br>
        </br>
    <ul>
    
    <a href="https://pragprog.com/book/dcbang/rails-angular-postgres-and-bootstrap" target="_blank">
        <p><font size="12" color="green">Rails, Angular, Postgres, and Bootstrap</font></p><br>
        </br>
    </a>    
    
           
    <a href="https://pragprog.com/book/7apps/seven-mobile-apps-in-seven-weeks" target="_blank">
        <p><font size="12" color="green">Seven Mobile Apps in Seven Weeks</font></p><br>
        </br>
    </a>
    
            
          
    <a href="https://pragprog.com/book/adrpo/ruby-performance-optimization" target="_blank">
      <p><font size="12" color="green">Ruby Performance Optimization</font></p><br>
        </br>
    </a>
    
    </ul>
    
    </body>                  
</html>