 <div class="w3-container w3-center"><p><h1>Editing Cart</h1>

<%= render 'form', cart: @cart %>

<%= link_to 'Show', @cart, class: "w3-button w3-red" %> |
<%= link_to 'Back', carts_path, class: "w3-button w3-red" %>
