 <div class="w3-container w3-center"><p><h1>Editing Line Item</h1>

<%= render 'form', line_item: @line_item %>

<%= link_to 'Show', @line_item, class: "w3-button w3-red" %> |
<%= link_to 'Back', line_items_path, class: "w3-button w3-red" %>
