<!DOCTYPE html>
<html>
  <head>
    <title>Depot2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-grey">
    <div>
      <a href="/static_pages/home" class="w3-button w3-red">Home</a>
      <a href="/static_pages/help" class="w3-button w3-red">Help</a>
      <a href="/static_pages/about" class="w3-button w3-red">About</a>
      <a href="/products" class="w3-button w3-red">Products</a>
      <a href="/store/index" class="w3-button w3-red">Store</a>
      <a href="/carts" class="w3-button w3-red">Shopping Cart</a>
      <a href="/line_items" class="w3-button w3-red">Line Items</a>
    </ul>
    <%= yield %>
  </body>
</html>
